In [2]:
import mysql.connector

In [6]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000028555F7EB40>

In [7]:
mycursor = mydb.cursor()

In [10]:
mycursor.execute("create database Authorize_user")

In [12]:
mycursor.execute("show databases")
for db in mycursor:
    print(db)

('authorize_user',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)
('ucandetect',)

In [13]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="Authorize_user"
)

In [16]:
mycursor = mydb.cursor()
createTable = "create table users(" \
    "id int primary key," \
    "name varchar(50) not null," \
    "age int not null," \
    "address varchar(50))"
mycursor.execute(createTable)